
.centrar{
            border-radius: 5%;
            color: red;
}

.tabla{
    width: 70%;
    background-color: darkgreen;
    font-family: fantasy;
}

.piedepagina{
    text-align: center;
    color: black;
}

.titulo{
    width:100%;
    border:1px solid greenyellow;
    background-color:#f2f2f2;
    text-align: center;
    font-family: sans-serif;
    width: 700px;
    border-radius: 101px;
}

#contenedor{
    width:100%;
    border:1px solid greenyellow;
    line-height:130%;
    background-color:solid;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 10px solid greenyellow;
    color: white;
    border-radius: 5px;
}

#cabecera{
    padding:10px;
    color:black;
    background-color:greenyellow;
    clear:left;
    border-radius: 5px;
   
}

#columna1{
   
    float:left;
    width:200px;
    margin:0;
    padding:3em;
    font-size: 20px;
    border-left: 10px solid greenyellow;
    border-radius: 5px;
   
}

#columna2{
    margin-left:410px;
    margin-right:410px;
    border-left:10px solid greenyellow;
    border-right:10px solid greenyellow;
    padding:3em;
    font-size: 20px;
    border-radius: 5px;
}

#columna3{
    float:right;
    width:200px;
    margin:0;
    padding:3em;
    font-size: 20px;
    border-right: 10px solid greenyellow;
    border-radius: 5px;
} 

    .bordes{
        border: black 6px outset;
        background-color: darkgreen;
    }

    .subtitulos{
        border: orange 6px groove;
        background-color: darkgreen;
    }

    .campeon{
        border: gold 5px dashed ;
        background-color: darkgreen;
        border-radius: 5px;
        text-align: center;
        width: 130px;
        height: 140px;
    }

    hr {
        height: 10px;
        background-color: red;
      }